<%= form_for :equilibrium, url: "equilibrium" do |form| %>
  <p>Please Enter the array in following format example: -7, 1, 5, 2, -4, 3, 0 in the given text field</p>
  <%= form.text_field :array_string %>
  <%= form.submit 'submit'   %>
<% end  %>